.about {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;

  &__heading {
    margin: 4rem auto;

    @include media-breakpoint-up(landscapeTablet) {
      transform: rotate(-90deg);
      position: absolute;
      top: 35rem;
      left: -17rem;
    }
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;


  @include media-breakpoint-up(portraitTablet) {
    flex-direction: row;
  }

  &__wrapper {
    z-index: 1;
    position: relative;
  }

  &__textbox {
    flex-direction: column;
    outline: .1rem #000 solid;
    outline-offset: 2rem;
    max-width: 30rem;
    animation: moveTop ease-in 1.5s;

    @include media-breakpoint-up(laptop) {
      max-width: 40rem;
    }

    &::before {
      content: '';
      background: $color-before;
      width: 25rem;
      height: 25rem;
      position: absolute;
      top: 2rem;
      left: -3rem;
      z-index: -1;
    }
  }

  &__heading {
    font-size: 4rem;
    max-width: 36rem;
    font-family: 'Dancing Script', sans-serif;
    margin-bottom: 2rem;

    @include media-breakpoint-up (portraitTablet) {
      max-width: 45rem;
    }
  }

  &__top-picture {
    width: 25rem;
    height: 25rem;
  }

  &__description {
    max-width: 33rem;
    line-height: 1.5;

    @include media-breakpoint-up (portraitTablet) {
      max-width: 40rem;
    }
  }

  &__bottom-picture {
    position: relative;
    background: url(./../../images/salon1.jpg);
    background-size: contain;
    width: 27.5rem;
    height: 38rem;

    @include media-breakpoint-up(phablet) {
      margin-left: 3rem;
    }

    &::after {
      content: '';
      background: $color-before;
      width: 28rem;
      height: 38rem;
      position: absolute;
      top: 3rem;
      right: 2rem;
      z-index: -1;
    }
  }
}
