.book {
  margin: 5rem auto;
  text-align: center;
  animation: moveTop ease-in 1.5s;

  &__description {
    max-width: 25rem;
    color: $color-primary;
    display: inline-block;
    text-align: center;
    font-size: 2.8rem;
    outline: .1rem solid #000;
    outline-offset: 2rem;
    padding: 0 4rem;

    @include media-breakpoint-up(phablet) {
      padding: 0 10rem;
    }

    @include media-breakpoint-up(landscapeTablet) {
      padding: 0 18rem;
    }
  }

  // &__button {
  //   font-family: inherit;
  //   font-size: 4rem;
  //   color: #fff;
  //   padding: 3rem;
  //   background: $color-primary;
  //   border: none;
  //   border-radius: 1rem;
  //   outline: none;

  //   &:hover {
  //     transform: scale(1.1);
  //   }
  //}
}
