.join {

  &__heading {
    padding: 1rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-up(landscapeTablet){
      flex-direction: row;
    }
  }

  &__picture {
    background: url(./../../images/salon3.jpg);
    width: 30rem;
    height: 40rem;
    background-size: cover;
    position: relative;
    margin: 0 auto;

    @include media-breakpoint-up(laptop) {
      margin: 0 2rem;
    }

    &::before {
      content: '';
      background: $color-before;
      width: 30rem;
      height: 40rem;
      position: absolute;
      top: 2rem;
      right: -3rem;
      z-index: -1;
    }
  }

  &__textbox {
    padding: 10rem 4rem;
    max-width: 40rem;
    margin: 0 auto;

    @include media-breakpoint-up(laptop) {
      margin: 0;
    }
  }

  &__subheading {
    font-size: 4rem;
    font-family: 'Dancing Script', sans-serif;
  }

  &__description {
    padding: 1rem 0;
    line-height: 1.5;
  }
}
