.main {
  position: relative;

  &__description {
    position: absolute;
    right: 2rem;
    top: -16rem;
    font-size: 2.5rem;
    max-width: 20rem;
    text-align: right;
    color: $color-primary;
  }
}

.button {

  &__back-icon {
  position: fixed;
  right: 10rem;
  bottom: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #000;
}
}
