.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;

  &__hamburger {
    position: absolute;
    font-size: 3rem;
    top: 2rem;
    left: 2rem;

    @include media-breakpoint-up(portraitTablet) {
      display: none;
    }
  }

  &__list {
    display: none;
    flex-direction: column;
    padding: 2rem;

    &.show {
      display: flex;
    }

    @include media-breakpoint-up(portraitTablet) {
      display: flex;
      flex-direction: row;
      animation: moveTop ease-in .8s;
      transition: all .8s;
    }
  }

  &__icon {
    opacity: 0;
    visibility: none;

    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }

  &__list-item {
    padding: 2rem 3rem;

    &:hover {
      transform: scale(1.3);
    }

    &:hover .nav__icon {
      opacity: 1;
      visibility: visible;
    }
  }
}
