.prices {
  margin: 12rem auto;

  &__heading {
    @include media-breakpoint-up(landscapeTablet) {
      transform: rotate(-90deg);
      position: absolute;
      top: 15rem;
      left: -5rem;
    }
  }
}

.table {
  border-radius: 1rem;
  outline: .1rem solid #000;
  outline-offset: 2rem;
  width: 35rem;
  margin: 6rem auto;
  position: relative;

  @include media-breakpoint-up(phablet) {
    width: 44rem;
  }

  @include media-breakpoint-up(portraitTablet) {
    width: 72rem;
  }

  &__description {
    line-height: 1.8;
  }

  &::before {
    content: '';
    background: $color-before;
    width: 39rem;
    height: 148rem;
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: -1;

    @include media-breakpoint-up(phablet) {
      width: 48rem;
      height: 131rem;
    }

    @include media-breakpoint-up(portraitTablet) {
      width: 54rem;
      height: 119rem;
    }

    @include media-breakpoint-up(landscapeTablet) {
      width: 75rem;
      height: 113rem;
    }

    @include media-breakpoint-up(desktop) {
      width: 76rem;
      height: 116rem;
    }
  }

  tr {
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light;
    }
  }

  td {
    padding: 2rem;

    &:nth-child(1) {
      padding-right: 1rem;
    }

    &:nth-child(2) {
      padding-left: 1rem;
      text-align: right;
    }
  }
}
