.prices {
  position: relative;
  margin: 12rem auto;

  &__heading {
    @include media-breakpoint-up(landscapeTablet) {
     display: none;
     }
  }
}

.table {
  border-radius: 1rem;
  outline: .1rem solid #000;
  outline-offset: 2rem;
  width: 35rem;
  margin: 6rem auto;
  position: relative;

  @include media-breakpoint-up(phablet) {
    width: 44rem;
  }

  @include media-breakpoint-up(portraitTablet) {
    width: 50rem;
  }

  @include media-breakpoint-up(landscapeTablet) {
    &::after {
      content: 'Cennik';
      font-size: 8rem;
      color: $color-primary;
      transform: rotate(-90deg);
      position: absolute;
      top: 43rem;
      left: -20rem;
      z-index: -1;
    }
  }

  @include media-breakpoint-up(desktop) {
    width: 60rem;
  }

  &::before {
    content: '';
    background: $color-before;
    width: 39rem;
    height: 61rem;
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: -1;

    @include media-breakpoint-up(phablet) {
      width: 48rem;
    }

    @include media-breakpoint-up(portraitTablet) {
      width: 54rem;
    }

    @include media-breakpoint-up(landscapeTablet) {
      width: 54rem;
    }

    @include media-breakpoint-up(desktop) {
      width: 64rem;
    }
  }

  tr {
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light;
    }
  }

  td {
    padding: 2rem;
  }

  &__price {
    text-align: right;
  }
}
