$color-primary: #0F4C20;
$color-background: #EAFBEF;
$color-before: #ede8ed;
$color-grey-light:#beb6bd;

//grey friends

$color-grey-dark:#3D4A3E;

//discreet palette
$color-green:#36A551;
$light-background:#F2FCF2;
$blueish: #386C5F;

//chosen
$jungle-greenish: #00654D;
$evening-skies: #88AFFF;
$blueish: #007D84;
