html {
  font-size: 62.5%;
  overflow: hidden scroll;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 8rem;
  text-align: center;
  color: $color-primary;
}
